p Complete the form below to create a new test.
form(method="post", action="/new")
	p Variants:
	label Type: 
	select(name="type")
		option(value="content") Content
		option(value="class") Class
	a.info(href="#") (?)
		span If you're unsure, use "Content". "Class" is for advanced users that only want to change the class of a test item and not the content thereof.
	div.Proto
		label Variant 
			span 1
			| : 
		input(type="text", name="values[0]")
	div#add
		a(href="#") (Add)
	div#settings
		p Options:
		.row
			label Adaptive: 
			input(type="checkbox", name="options[adaptive]", value="true")
			a.info(href="#") (?)
				span This option will make you're tests automatically show the option that is proving to have a better conversion rate.
		.row
			label Passive conversions
			input(type="checkbox", name="options[passive]", value="true")
			a.info(href="#") (?)
				span This option allows tests to benifit from conversion even if the item clicked by the user wasnt this one specifically. For instance a good headline might make users click a CTA more, but they dont click the headline itself, so if you want this test to benifit from any user interaction then use this option.
		.row
			label Lingering
			input(type="checkbox", name="options[linger]", value="true")
			a.info(href="#") (?)
				span This option means you're like to take "Time spent on the page" into account when determining which variant performed best.
	input(type="submit", value="Create Test")

style(type="text/css")
	a {text-decoration: none;}
	a.info span {display: none;}
	a.info span.open {display: block; text-decoration: none; color: #000; position: relative; width: 200px; background-color: #fff; border-radius: 5px; border: 1px solid #000; padding: 5px; margin: 10px 0;}
script(type="text/javascript")
	$(function(){
		var reLabelOpts = function () {
			$(".Proto").each(function(i,el){
				$(this).find("label span").text(i+1);
				$(this).find("input").attr("name", "values[" + i.toString() + "]")
			})
		}
		$("#add a").click(function(e){
			e.preventDefault();
			num = $(".Proto").length;
			var opt = $(".Proto:first").clone();
			opt.addClass("added");
			opt.find("label span").text(num+1);
			opt.find("input").attr("name", "values[" + num.toString() + "]");
			opt.append("<a href='#' class='remove'>(Remove)</a>");
			opt.insertBefore("#add");
		})
		$(document).on("click", "a.remove", function(e){
			e.preventDefault();
			$(this).parent().remove();
			reLabelOpts();
		})
		$("a.info").hover(function(){
			$(this).find("span").addClass("open");
		}, function() {
			$(this).find("span").removeClass("open");
		})
	})
