!!!
html
  head
    title= title
    link(rel="shorcut icon", href="/img/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src="http://code.jquery.com/jquery.min.js")
  body
    div#header
      .inner
        div.left
          a(href="/")
            img(src="/img/testler-logo-small.gif")
        div.right
          a(href="/signin") Sign In  
          | or 
          a(href="/auth/logout") Logout
    a(href="/")
      h1.logo= title
    div#wrapper!= body
    div#footer
      .inner
        p Testler &copy; Christopher de Beer 2012 
